extends layout
block content
  .container
    nav.navbar.navbar-default( role="navigation" )
      .navbar-header
        button.navbar-toggle.collapsed( type="button", data-toggle="collapse", data-target="#navbar-inverse", aria-expanded="false", aria-controls="navbar")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        a.navbar-brand(href="#")= title
    div.row  
      div.col-md-4
        .panel.panel-default
          .panel-heading Register products
          .panel-body
            form(name="register", action="/register", method="post")
              label(for='Product_name') Product Name:
              input(type="text", name="Product_name", id="pname")
              label(for='price') Enter Price: 
              input(type="number", name="price", id="price" step="0.01")
              input(type="submit", name="register", value="register")
      div.col-md-4
        .panel.panel-default
          .panel-heading Create Orders:
          .panel-body
            h4= 'Choose product:'
            form(action="/order", method="post")
              if products
                each product in products
                  input(type='radio', name='chosen', value=product.name)
                  |  #{product.name}  #{product.price}
                  br
                br
                span.label Insert Desired Amount:
                input(type="number", name="amount", id="amount", value=0)
                input(type="submit", name="order", value="order now")
    div.row 
      h2.title
      = '\n'
      p Your orders:
      ul
        each order in orders
            - var prodname = "undef"
            each product in products
                if product._id == order.productId
                  - prodname = product.name
            li=  "Product: " + prodname + '| amount :' + order.amount + '| total :' + order.totalSum + "| link :" + order._links.self.href
